/* La famila font tiene que ver con todo lo referente a texto */
/* Vamos a cambiar el fondo del body con la propiedad background */
body {
  font-family: Helvetica;
  background: url("../img/fondo.svg") no-repeat;
  background-size: cover;
}

.contenedor {
  /* color de fondo */
  background-color: #ffffff;
  /* ancho del div .contenedor */
  /* width: px % vw */
  width: 450px;
  border-radius: 8px;
}

.contenedor-texto {
  /* padding: basicament nos genera un espacio desde adentro hacie afuera */
  padding: 12px;
}

.imagen-fondo {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#boton-pagar {
  /* para cambiar el color del texto se usa el atributo color */
  color: #fff;
  background-color: #382ae1;
  border: none;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  /* shadow */
  box-shadow: -4px 8px 32px -2px rgba(56, 42, 225, 0.41);
  -webkit-box-shadow: -4px 8px 32px -2px rgba(56, 42, 225, 0.41);
  -moz-box-shadow: -4px 8px 32px -2px rgba(56, 42, 225, 0.41);
}
